# 4.7. TASK
# Table of Contents
## 1. Exercise practice
### 1.1. Import libraries and data set 
### 1.2. Practice user-defined functions
### 1.3. Create "price_label" row using user-defined function
### 1.4. Create "price_label" row using loc() function
### 1.5. Practice and create "busiest_day" row with for-loops
## 2. Extra data consistency and data wrangling checks
### 2.1. Replace wrong values in the "prices" column of the "df_prods" dataframe
### 2.2. Drop unwanted columns
### 2.3. Export clean "df_prods" dataframe
### 2.4. Replace wrong values in the "prices" column of the "ords_prods_merge" dataframe
### 2.5. Drop unwanted columns
## 3. Task
### 3.1. Change conditions of "busiest_day" column to "busiest_days" 
### 3.2. Check accuracy of the new column
### 3.3. Create new column "busiest_period_of_day"
### 3.4. Show frequency of "busiest_period_of_day" columns
### 3.5. Export dataframe

---

## 1. Exercise practice
### 1.1. Import libraries and data set

In [2]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [4]:
path = r'/Users/mariliamachado/Documents/CareerFoundry/11-2024 Instacart Basket Analysis'

In [11]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [22]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both,195,Soda,77,7,9.0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

### 1.2. Practice user-defined functions

In [49]:
# define function
def add_num(x, y):
    sum = x + y
    return sum

In [51]:
# run function
add_num(9,11)

20

In [53]:
#create subset
df = ords_prods_merge[:1000000]

### 1.3. Create "price_label" row using user-defined function

In [61]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [63]:
# Run function
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/1l/dnjb8fld07b4wz73yz4dyxqw0000gn/T/ipykernel_25488/1267003000.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [64]:
df.shape

(1000000, 20)

In [67]:
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    673340
Low-range product    314392
High range            12268
Name: count, dtype: int64

In [69]:
# check most expensive product
df['prices'].max()

25.0

### 1.4. Create "price_label" row using loc() function

In [73]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [75]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product     673340
Low-range product     314392
High-range product     12268
Name: count, dtype: int64

In [77]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

### 1.5. Practice and create "busiest_day" row with for-loops

In [78]:
for x in range (30, 45):
    print('My age is %d' % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [81]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [83]:
result = []
for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [84]:
result

['Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Least busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Busiest day',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 'Regularly busy',
 ...]

In [87]:
ords_prods_merge['busiest_day'] = result

In [89]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: count, dtype: int64

In [91]:
df.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,...,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,price_range,price_range_loc
0,0,0,2539329,1,1,2,8,NaN,True,196,...,0,both,195,Soda,77,7,9.0,both,Mid-range product,Mid-range product
1,0,0,2539329,1,1,2,8,NaN,True,14084,...,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Mid-range product
2,0,0,2539329,1,1,2,8,NaN,True,12427,...,0,both,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Low-range product
3,0,0,2539329,1,1,2,8,NaN,True,26088,...,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Low-range product
4,0,0,2539329,1,1,2,8,NaN,True,26405,...,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Low-range product

In [93]:
ords_prods_merge.head()

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,...,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match,price_range_loc,busiest_day
0,0,0,2539329,1,1,2,8,NaN,True,196,...,0,both,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy
1,0,0,2539329,1,1,2,8,NaN,True,14084,...,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both,Mid-range product,Regularly busy
2,0,0,2539329,1,1,2,8,NaN,True,12427,...,0,both,12427,Original Beef Jerky,23,19,4.4,both,Low-range product,Regularly busy
3,0,0,2539329,1,1,2,8,NaN,True,26088,...,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7,both,Low-range product,Regularly busy
4,0,0,2539329,1,1,2,8,NaN,True,26405,...,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both,Low-range product,Regularly busy

In [87]:
ords_prods_merge.shape

(32404859, 15)

In [91]:
# check most expensive product
ords_prods_merge['prices'].max()

99999.0

## 2. Extra data consistency and data wrangling checks

In [16]:
# Check possible wrong max value 
max_price = ords_prods_merge['prices'].max()

In [18]:
# Filter rows with wrong max value
rows_max_value = ords_prods_merge [ords_prods_merge['prices'] == max_price]

In [20]:
rows_max_value

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
128911,13992,13992,183964,873,3,0,10,7.0,False,33664,11,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
128924,13993,13993,1851256,873,4,6,12,13.0,False,33664,8,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
284218,30778,30778,1915696,1893,1,5,17,NaN,True,33664,10,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
284229,30779,30779,2763293,1893,2,4,16,13.0,False,33664,6,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
284252,30781,30781,2564805,1893,4,1,17,30.0,False,33664,3,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32079919,3386542,3386542,2249946,204099,29,0,8,4.0,False,33664,1,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32079936,3386544,3386544,2363282,204099,31,0,9,2.0,False,33664,1,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32125745,3391313,3391313,3181945,204395,13,3,15,8.0,False,33664,25,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32255078,3405096,3405096,2486215,205227,7,3,20,4.0,False,33664,8,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32255132,3405099,3405099,2232716,205227,10,0,11,4.0,False,33664,23,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both

In [244]:
#Import products dataset to check wrong max value
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [246]:
#Check max value in prices 
prods_max_price = df_prods['prices'].max()
prods_rows_max_value = df_prods [df_prods['prices'] == prods_max_price]

In [248]:
prods_rows_max_value

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
33649,33666,33664,2 % Reduced Fat Milk,84,16,99999.0

In [250]:
#Check product name with similar name to see price
df_prods.loc[df_prods ['product_name'] == '2% Reduced Fat Milk']

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
23894,23910,23909,2% Reduced Fat Milk,84,16,9.2

In [252]:
wrong_values = df_prods.loc[df_prods ['product_id'] == 33664]

In [254]:
wrong_values

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
33649,33666,33664,2 % Reduced Fat Milk,84,16,99999.0

### 2.1. Replace wrong values in the "prices" column of the "df_prods" dataframe

In [256]:
#replace wrong values with test df
wrong_values.loc[33649, 'prices'] = 9.2

In [258]:
#check if it worked
wrong_values

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
33649,33666,33664,2 % Reduced Fat Milk,84,16,9.2

In [262]:
df_prods.loc[df_prods ['product_id'] == 33664]

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
33649,33666,33664,2 % Reduced Fat Milk,84,16,99999.0

In [264]:
#replace wrong value on products df
df_prods.loc[33649, 'prices'] = 9.2

In [266]:
#check if it worked
df_prods.loc[df_prods ['product_id'] == 33664]

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
33649,33666,33664,2 % Reduced Fat Milk,84,16,9.2

In [268]:
#check max price again
prods_max_price = df_prods['prices'].max()

In [270]:
prods_max_price

14900.0

In [272]:
#check product with that max value, it seems too high
max_value = df_prods.loc[df_prods ['prices'] == 14900.0]

In [274]:
max_value

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
21538,21554,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0

In [276]:
#check similar product names to see if we can find the most accurate value
def search(df_prods: pd.DataFrame, substring: str, case: bool = False) -> pd.DataFrame:
    mask = np.column_stack([df_prods[col].astype(str).str.contains(substring.lower(), case=case, na=False) for col in df_prods])
    return df_prods.loc[mask.any(axis=1)]

In [278]:
search(df_prods, 'Milkfat Cottage Cheese')

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
6837,6852,6852,4% Milkfat Cottage Cheese Small Curd 22 OZ,108,16,8.6
21538,21554,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0
27775,27792,27790,Small Curd Lowfat 2% Milkfat Cottage Cheese,108,16,7.7
28647,28664,28662,Strawberry 2% Milkfat Cottage Cheese,100,21,3.0

In [280]:
#Check mean value of prices since we don't know the accurate value
df_prods['prices'].mean()

7.980280641004993

In [294]:
#Replace wrong value with mean value
df_prods.loc[21538, 'prices'] = 8

In [296]:
#Check if it worked
df_prods.loc[df_prods ['product_id'] == 21553]

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
21538,21554,21553,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0

### 2.2. Drop unwanted columns

In [302]:
#Drop unnamed column
df_prods.drop(['Unnamed: 0'], axis=1)

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [306]:
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [308]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### 2.3. Export clean "df_prods" dataframe

In [310]:
# Export new dataframe
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', 'prods_clean.csv'))

In [334]:
ords_prods_merge['prices'].max()

99999.0

In [340]:
ords_prods_merge.loc[ords_prods_merge ['product_id'] == 33664]

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
128911,13992,13992,183964,873,3,0,10,7.0,False,33664,11,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
128924,13993,13993,1851256,873,4,6,12,13.0,False,33664,8,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
284218,30778,30778,1915696,1893,1,5,17,NaN,True,33664,10,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
284229,30779,30779,2763293,1893,2,4,16,13.0,False,33664,6,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
284252,30781,30781,2564805,1893,4,1,17,30.0,False,33664,3,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32079919,3386542,3386542,2249946,204099,29,0,8,4.0,False,33664,1,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32079936,3386544,3386544,2363282,204099,31,0,9,2.0,False,33664,1,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32125745,3391313,3391313,3181945,204395,13,3,15,8.0,False,33664,25,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32255078,3405096,3405096,2486215,205227,7,3,20,4.0,False,33664,8,0,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both
32255132,3405099,3405099,2232716,205227,10,0,11,4.0,False,33664,23,1,both,33666,2 % Reduced Fat Milk,84,16,99999.0,both

### 2.4. Replace wrong values in the "prices" column of the "ords_prods_merge" dataframe

In [13]:
#Test replacing values on test df
df_test_replace = ords_prods_merge.loc[ords_prods_merge['prices'] == 99999.0, 'prices'] = 9.2

In [21]:
#Check
df_test_replace

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
128911,13992,13992,183964,873,3,0,10,7.0,False,33664,11,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
128924,13993,13993,1851256,873,4,6,12,13.0,False,33664,8,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
284218,30778,30778,1915696,1893,1,5,17,NaN,True,33664,10,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
284229,30779,30779,2763293,1893,2,4,16,13.0,False,33664,6,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
284252,30781,30781,2564805,1893,4,1,17,30.0,False,33664,3,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32079919,3386542,3386542,2249946,204099,29,0,8,4.0,False,33664,1,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32079936,3386544,3386544,2363282,204099,31,0,9,2.0,False,33664,1,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32125745,3391313,3391313,3181945,204395,13,3,15,8.0,False,33664,25,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32255078,3405096,3405096,2486215,205227,7,3,20,4.0,False,33664,8,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32255132,3405099,3405099,2232716,205227,10,0,11,4.0,False,33664,23,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both

In [17]:
ords_prods_merge.loc[ords_prods_merge ['product_id'] == 33664]

In [19]:
ords_prods_merge.loc[ords_prods_merge['prices'] == 99999.0, 'prices'] = 9.2

In [27]:
ords_prods_merge.loc[ords_prods_merge ['product_id'] == 33664]

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
128911,13992,13992,183964,873,3,0,10,7.0,False,33664,11,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
128924,13993,13993,1851256,873,4,6,12,13.0,False,33664,8,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
284218,30778,30778,1915696,1893,1,5,17,NaN,True,33664,10,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
284229,30779,30779,2763293,1893,2,4,16,13.0,False,33664,6,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
284252,30781,30781,2564805,1893,4,1,17,30.0,False,33664,3,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32079919,3386542,3386542,2249946,204099,29,0,8,4.0,False,33664,1,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32079936,3386544,3386544,2363282,204099,31,0,9,2.0,False,33664,1,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32125745,3391313,3391313,3181945,204395,13,3,15,8.0,False,33664,25,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32255078,3405096,3405096,2486215,205227,7,3,20,4.0,False,33664,8,0,both,33666,2 % Reduced Fat Milk,84,16,9.2,both
32255132,3405099,3405099,2232716,205227,10,0,11,4.0,False,33664,23,1,both,33666,2 % Reduced Fat Milk,84,16,9.2,both

In [31]:
#Locate second wrong value
second_wrong_value = ords_prods_merge.loc[ords_prods_merge ['product_id'] == 21553]

In [33]:
second_wrong_value

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
1576,171,171,912404,17,12,2,14,5.0,False,21553,5,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
1638,181,181,603376,17,22,6,16,4.0,False,21553,3,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
16522,1944,1944,3264360,135,2,2,21,13.0,False,21553,6,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
16528,1945,1945,892534,135,3,0,8,12.0,False,21553,3,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
53672,5708,5708,229704,342,8,1,19,30.0,False,21553,9,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32320511,3411856,3411856,3172853,205650,18,1,9,7.0,False,21553,17,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
32347717,3414691,3414691,2504315,205818,3,5,15,3.0,False,21553,13,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
32347727,3414693,3414693,1108388,205818,5,4,5,1.0,False,21553,5,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
32380527,3418470,3418470,1916142,206049,1,2,17,NaN,True,21553,2,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both
32380551,3418473,3418473,379732,206049,4,1,14,5.0,False,21553,4,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both

In [35]:
#Replace wrong value on test df
second_wrong_value.loc[second_wrong_value['prices'] == 14900.0, 'prices'] = 8

In [37]:
#Check if it worked
second_wrong_value

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
1576,171,171,912404,17,12,2,14,5.0,False,21553,5,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
1638,181,181,603376,17,22,6,16,4.0,False,21553,3,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
16522,1944,1944,3264360,135,2,2,21,13.0,False,21553,6,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
16528,1945,1945,892534,135,3,0,8,12.0,False,21553,3,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
53672,5708,5708,229704,342,8,1,19,30.0,False,21553,9,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32320511,3411856,3411856,3172853,205650,18,1,9,7.0,False,21553,17,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32347717,3414691,3414691,2504315,205818,3,5,15,3.0,False,21553,13,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32347727,3414693,3414693,1108388,205818,5,4,5,1.0,False,21553,5,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32380527,3418470,3418470,1916142,206049,1,2,17,NaN,True,21553,2,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32380551,3418473,3418473,379732,206049,4,1,14,5.0,False,21553,4,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both

In [43]:
#Replace wrong value on actual df
ords_prods_merge.loc[ords_prods_merge['prices'] == 14900.0, 'prices'] = 8

In [45]:
#Check values
ords_prods_merge.loc[ords_prods_merge ['product_id'] == 21553]

,Unnamed: 0.1,Unnamed: 0_x,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0_y,product_name,aisle_id,department_id,prices,match
1576,171,171,912404,17,12,2,14,5.0,False,21553,5,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
1638,181,181,603376,17,22,6,16,4.0,False,21553,3,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
16522,1944,1944,3264360,135,2,2,21,13.0,False,21553,6,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
16528,1945,1945,892534,135,3,0,8,12.0,False,21553,3,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
53672,5708,5708,229704,342,8,1,19,30.0,False,21553,9,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32320511,3411856,3411856,3172853,205650,18,1,9,7.0,False,21553,17,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32347717,3414691,3414691,2504315,205818,3,5,15,3.0,False,21553,13,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32347727,3414693,3414693,1108388,205818,5,4,5,1.0,False,21553,5,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32380527,3418470,3418470,1916142,206049,1,2,17,NaN,True,21553,2,0,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both
32380551,3418473,3418473,379732,206049,4,1,14,5.0,False,21553,4,1,both,21554,Lowfat 2% Milkfat Cottage Cheese,108,16,8.0,both

In [47]:
#check max value
ords_prods_merge['prices'].max()

25.0

### 2.5. Drop unwanted columns

In [95]:
# Drop unnecessary columns
ords_prods_merge = ords_prods_merge.drop(['Unnamed: 0.1', 'Unnamed: 0_x', '_merge', 'Unnamed: 0_y', 'match'], axis=1)

In [97]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day
0,2539329,1,1,2,8,NaN,True,196,1,Soda,77,7,9.0,Mid-range product,Regularly busy
1,2539329,1,1,2,8,NaN,True,14084,2,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regularly busy
2,2539329,1,1,2,8,NaN,True,12427,3,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy
3,2539329,1,1,2,8,NaN,True,26088,4,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regularly busy
4,2539329,1,1,2,8,NaN,True,26405,5,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regularly busy

## 3. Task
### 3.1. Change conditions of "busiest_day" column to "busiest_days"

2. Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [143]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [131]:
result = []
for value in ords_prods_merge["orders_day_of_week"]:
  if (value == 0 or value == 1):
    result.append("Busy day")
  elif (value == 4 or value == 3):
    result.append("Slow day")
  else:
    result.append("Regular day")

In [132]:
result

['Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Slow day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Busy day',
 'Busy day',
 'Busy day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 'Regular day',
 ...]

In [135]:
ords_prods_merge['busiest_days'] = result

In [139]:
ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days
0,2539329,1,1,2,8,NaN,True,196,1,Soda,77,7,9.0,Mid-range product,Regular day
1,2539329,1,1,2,8,NaN,True,14084,2,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regular day
2,2539329,1,1,2,8,NaN,True,12427,3,Original Beef Jerky,23,19,4.4,Low-range product,Regular day
3,2539329,1,1,2,8,NaN,True,26088,4,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regular day
4,2539329,1,1,2,8,NaN,True,26405,5,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regular day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,False,14197,5,Tomato Paste,9,9,5.6,NaN,Busy day
32404855,2977660,206209,13,1,12,7.0,False,38730,6,Brownie Crunch High Protein Bar,3,19,5.9,NaN,Busy day
32404856,2977660,206209,13,1,12,7.0,False,31477,7,High Protein Bar Chunky Peanut Butter,3,19,4.2,Low-range product,Busy day
32404857,2977660,206209,13,1,12,7.0,False,6567,8,Chocolate Peanut Butter Protein Bar,3,19,4.9,Low-range product,Busy day
32404858,2977660,206209,13,1,12,7.0,False,22920,9,Roasted & Salted Shelled Pistachios,117,19,1.7,Low-range product,Busy day

### 3.2. Check accuracy of the new column

3. Check the values of this new column for accuracy. Note any observations in markdown format.

In [137]:
ords_prods_merge['busiest_days'].value_counts(dropna = False)

busiest_days
Regular day    12916111
Busy day       11864412
Slow day        7624336
Name: count, dtype: int64

The values are accurate with the previous values for the days of the week and their orders count.

### 3.3. Create new column "busiest_period_of_day"

4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [147]:
ords_prods_merge['order_time_hour'].value_counts(dropna = False)

order_time_hour
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [153]:
result_2 = []
for value in ords_prods_merge["order_time_hour"]:
  if (value == 10 or value == 11 or value == 14 or value == 15 or value == 13 or value == 12 or value == 16 or value == 9):
    result_2.append("Most orders")
  elif (value == 17 or value == 8 or value == 18 or value == 19 or value == 20 or value == 7 or value == 21 or value == 22):
    result_2.append("Average orders")
  else:
    result_2.append("Fewest orders")

In [155]:
result_2

['Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Fewest orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Average orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Most orders',
 'Average orders',
 ...]

In [157]:
ords_prods_merge['busiest_period_of_day'] = result_2

In [161]:
ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_time_hour,days_since_prior_order,first_order,product_id,add_to_cart_order,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,Soda,77,7,9.0,Mid-range product,Regular day,Average orders
1,2539329,1,1,2,8,NaN,True,14084,2,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,Mid-range product,Regular day,Average orders
2,2539329,1,1,2,8,NaN,True,12427,3,Original Beef Jerky,23,19,4.4,Low-range product,Regular day,Average orders
3,2539329,1,1,2,8,NaN,True,26088,4,Aged White Cheddar Popcorn,23,19,4.7,Low-range product,Regular day,Average orders
4,2539329,1,1,2,8,NaN,True,26405,5,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,Low-range product,Regular day,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,False,14197,5,Tomato Paste,9,9,5.6,NaN,Busy day,Most orders
32404855,2977660,206209,13,1,12,7.0,False,38730,6,Brownie Crunch High Protein Bar,3,19,5.9,NaN,Busy day,Most orders
32404856,2977660,206209,13,1,12,7.0,False,31477,7,High Protein Bar Chunky Peanut Butter,3,19,4.2,Low-range product,Busy day,Most orders
32404857,2977660,206209,13,1,12,7.0,False,6567,8,Chocolate Peanut Butter Protein Bar,3,19,4.9,Low-range product,Busy day,Most orders
32404858,2977660,206209,13,1,12,7.0,False,22920,9,Roasted & Salted Shelled Pistachios,117,19,1.7,Low-range product,Busy day,Most orders

### 3.4. Show frequency of "busiest_period_of_day" columns

5. Print the frequency for this new column.

In [164]:
ords_prods_merge['busiest_period_of_day'].value_counts(dropna = False)

busiest_period_of_day
Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: count, dtype: int64

6. Ensure your notebook is clean and structured and that your code is well commented.
   Done.

### 3.5. Export dataframe

7. Export your dataframe as a pickle file (since you added new columns) and store it correctly in your “Prepared Data” folder.

In [170]:
# Export new dataframe
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4_7.pkl'))